thead {
  position: sticky;
  top: -15px;
  background-color: #e14eca;
  z-index: 99;
}

.logo {
  width: 150px;
  margin: auto;
}

.custome-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.custome-scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.custome-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e14eca;
}

.sidebar-wrapper {
  background-image: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
}

footer {
  display: none;
}

#map {
  height: 80vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.details-table .card-body {
  padding: 5px !important;
}

.details-table {
  font-size: 1.1rem;
  max-width: 400px;
  color: rgb(231, 226, 226);
}

.details-table td {
  width: 100%;
  margin: auto;
  padding: 0.4rem 2rem;
  text-align: center;
}

.details-table tr {
  border: 1px solid #523581 !important;
}

.mini-map {
  height: 295px;
  width: 100%;
}

.mini-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .sidebar {
  margin-left: 0;
  margin-top: 0;
  z-index: 999;
}
 */

@media screen and (min-width: 600px) {
  .navbar-brand {
    padding-top: 3rem !important;
  }

  .sidebar {
    margin-top: 0;
    margin-left: 0;
  }
  .content {
    padding-top: 28px !important;
    transform: translateX(-20px);
  }

  .navbar-brand {
    display: none !important;
  }
}
